.App-logo {
  width: 50px;
  margin-left: 50px;
}
.navbar {
  padding: 10px;
}
#menu {
  margin-top: 10px;
}
#navbarSupportedContent li a {
  width: 150px;
  text-align: center;
}
#navbarSupportedContent {
  margin-left: 20%;
}
#line {
  border-right: 1px solid rgba(95, 95, 95, 0.429);
  height: 20px;
  margin-top: 10px;
}
.visitor-preview h2{
  color: blue;
}
.visitor-preview p{
  margin-left: 20px;
}
.tbody .tr .td {
  border: 1px solid rgb(96, 95, 95);
  text-align: center;
}
#table .thead .th {
  border: 1px solid rgb(116, 113, 113);
  text-align: center;
}
tbody tr td {
  text-align: center;
}
table thead th {
  text-align: center;
}
#table .thead {
  background-color: rgba(104, 94, 94, 0.596);
}
.btn i {
  font-size: 25px;
  text-decoration: none;
}
#submit {
  width: 120px;
}
.brandd {
  font-size: 14px;
  font-family: "Old English Text MT";
}
.brandd1 {
  font-family: "Old English Text MT";
  color: rgb(4, 9, 160);
  font-size: 100px;
}
.brandd2 {
  font-family: "Old English Text MT";
  color: rgb(4, 9, 160);
  font-size: 35px;
}
#tag {
  border-bottom: 1px solid rgba(218, 216, 216, 0.56);
}
#del {
  border-radius: 10px;
  box-shadow: 0px 24px 9px 0px #000000c0;
  height: 13px;
}
.logoo {
  width: 35px;
  margin-right: 8px;
  border-radius: 50%;
}
#sidebar {
  background-color: rgb(3, 102, 121);
  box-shadow: 4px 0px 10px #232931;
}
.nav-link .ms-1{
  color: rgb(196, 239, 244);
}
.nav-link .ms-1:hover{
  color: rgb(242, 242, 242);
}
#iconn {
  color: rgb(196, 239, 244);
}
#iconn:hover {
  color: rgb(242, 242, 242);
}
#titlee {
  font-size: 15px;
  font-weight: bold;
}
#bodyy {
  background-color: rgb(185, 251, 251);
}
#card {
  background-color: rgb(185, 251, 251);
}
.nav-item {
  margin-top: 3px;
}
#sched-table {
  font-size: 14px;
}
#unavailable {
  font-size: 60px;
}
#loading {
  font-size: 40px;
}
.view {
  font-size: 22px;
  color: black;
}
.view:hover {
  color: rgba(3, 3, 3, 0.626);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 172, 232); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #47cee3; 
}
.home {
  background-image: url(./assets/mdc-memorial-wall.png);
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-top: -10px;
  overflow: hidden;
}
#card-bodyyy {
  background-color: #47cee3;
  color: white;
  height: 150px;
  cursor: pointer;
  border-radius: 10px;
}
#card-bodyyy p{
  color: black;
  font-weight: 500;
}
#card-bodyyy:hover {
  background-color: #23a7bb;
  transform: scale(1.02);
  transition: transform ease 0.5s;
}
#dash-icon {
  font-size: 80px;
  color: #00454f50;
  margin-top: 20px;
}
#cardd {
  border-radius: 10px;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 10%;
}
.linkk {
  text-decoration: none;
}
#data {
  font-size: 30px;
  font-weight: bold;
}
#data1 {
  font-size: 17px;
  opacity: 0.7;
  font-weight: 600;
  font-style: italic;
  color: black;
}